doctype
html(lang="en")
  include ../includes/header
  body
    #layout
      a(href="#menu" id="menuLink" class="menu-link")
        span
      #menu
        include ../includes/menu
        +menu("integrstiond")
      #main
        .content
          h2.content-subhead Integrations
          .pure-g
            .pure-u-1-2
              table.pure-table.pure-table-horizontal
                thead
                  tr
                    th #
                    th Message
                    th Sending Application
                    th Receivinf Application
                    th
                tbody
                  - if (!integrations) integrations = []
                  each item in integrations
                    tr
                      td=item.id
                      td=item.code
                      td=item.name
                      td
                        a.pure-button.button-small(href="#")
                          i.fas.fa-pencil-alt
            .pure-u-1-2
              a.pure-button.pure-button-primary(href="/integrations/create") Create Integration
  include ../includes/footer