doctype
html(lang="en")
  include ../includes/header
  body
    #layout
      a(href="#menu" id="menuLink" class="menu-link")
        span
      #menu
        include ../includes/menu
        +menu("messages")
      #main
        .content
          .pure-g
            .pure-u-1
              p
                a.pure-button.pure-button-primary(href="/messages/create") Create Message
          .pure-g
            .pure-u-1
              h3 Messages
          .pure-g
            .pure-u-1-2
              table.pure-table.pure-table-horizontal
                thead
                  tr
                    th #
                    th Code
                    th Event
                    th Version
                    th 
                tbody
                    - if (!messages) messages = []
                    each item in messages
                      tr
                        td=item.id
                        td=item.code
                        td=item.event
                        td=item.version.getValue()
                        td
                          a.pure-button.button-small(href="/messages/edit?id="+item.id)
                            i.fas.fa-pencil-alt

  include ../includes/footer