doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Application List
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css")
    script(type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js")
    script(type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(type="text/javascript" language="javascript")
        != "$(document).ready( function () { $('#table_1').DataTable();} );"
  body
    h1 Application List
    #menu
      a(href="applications/add") Add Application |
      a(href="/") Back to Index
    table#table_1(class="display")
        thead
          tr
            th Code
            th Name
            th Edit
            th Delete
        tbody
          - if (!applications) applications = [{"id":"1","code":"GH", "name":"Global Care"}]
          each val in applications
            tr
              td
                a(href="applications/" + val.id)= val.code
              td= val.name
              td
                a(href="applications/" + val.id + "/edit") Edit
              td
                a(href="applications/" + val.id + "/delete") Delete
