<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  </head>
  <body>
    <h1>Edit Application</h1><a href="/applications">Back to Application List</a>
    <form name="application" method="POST" action="/applications/1/edit">
      <table>
        <tr>
          <td>ID</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Code</td>
          <td>
            <input type="text" name="code" value="GH">
          </td>
        </tr>
        <tr>
          <td>Name</td>
          <td>
            <input type="text" name="name" value="Global Care">
          </td>
        </tr>
      </table>
      <input type="submit" value="Update">
    </form>
  </body>
</html>