<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  </head>
  <body>
    <h1>Application</h1><a href="/applications">Back to Application List</a>
    <table>
      <tbody>
        <tr>
          <td>ID</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Code</td>
          <td>GH</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>Global Care</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>