<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/layouts/side-menu/styles.css">
    <link rel="stylesheet" href="../static/css/all.css">
    <title>HL7v2 Mapper Administration Tool</title>
  </head>
  <body>
    <div id="layout"><a class="menu-link" href="#menu" id="menuLink"><span></span></a>
      <div id="menu">
                <div class="pure-menu"><a class="pure-menu-heading" href="index"><img class="pure-img" src="../static/images/logo.svg" alt="Logo" style="max-width:80%;"></a>
                  <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/index">Home</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/applications">Applications</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/messages">Messages</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/mappers">Mappers</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/integrations">Integrations</a></li>
                  </ul>
                </div>
      </div>
      <div id="main">
        <div class="header" style="text-align:left;">
          <h1>HL7v2 Mapper Administrator</h1>
          <h2>A tool to configure all your HL7 v2 mappers</h2>
          <h3 class="content-subhead">Testing the mappers</h3>
          <div class="pure-u">
            <form class="pure-u-1" action="/" method="POST" name="source">
              <textarea name="source" rows="20" cols="250" style="font-family:monospace; text-align:left;"></textarea>
              <p></p>
              <button class="pure-button pure-button-primary" type="submit">Test the mapper</button>
              <p></p>
            </form>
            <div class="pure-u-1">
              <textarea rows="20" cols="250" readonly style="font-family:monospace; text-align:left;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../static/js/ui.js"></script>
</html>