doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
  body
    h1 CUF HL7v2 Mapper
    #container.col
      ul
        li
          a(href="/applications") Applications
        li
          a(href="/messages") Messages