<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Message List</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript">$(document).ready( function () { $('#table_1').DataTable();} );
    </script>
  </head>
  <body>
    <h1>Message List</h1>
    <table class="display" id="table_1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="application/1">OMG</a></td>
          <td>O19</td>
          <td><a href="application/1/edit">Edit</a></td>
          <td><a href="application/1/delete">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>