doctype
html(lang="en")
    include ../includes/header
    body
        #layout
            a(href="#menu" id="menuLink" class="menu-link")
                span
            #menu
                include ../includes/menu
                +menu("about")
            #main
                .content
                    form.pure-form.pure-form-stacked(name="application" action="/applications/create" method="POST")
                        fieldset
                            legend Create a new application
                            label(for="code") Code
                            input(type="text" id="code" name="code")
                            label(for="name") Name
                            input(type="text" id="name" name="name")
                            button.pure-button.pure-button-primary(type="submit") Create
    include ../includes/footer