doctype
html(lang="en")
  include ../includes/header
  body
    #layout
      a(href="#menu" id="menuLink" class="menu-link")
        span
      #menu
        include ../includes/menu
        +menu("applications")
      #main
        .content
          h2.content-subhead Applications
          .pure-g
            .pure-u-1-2
              table.pure-table.pure-table-horizontal
                thead
                  tr
                    th #
                    th Code
                    th Name
                    th
                tbody
                  - if (!applications) applications = []
                  each item in applications
                    tr
                      td=item.id
                      td=item.code
                      td=item.name
                      td
                        a.pure-button.button-small(href="#")
                          i.fas.fa-pencil-alt
            .pure-u-1-2
              a.pure-button.pure-button-primary(href="/applications/create") Create Application
  include ../includes/footer