mixin fieldset(data)
  legend= data.legend
  for item in data.values
    label(for=item.id)
    input(type="text" id=item.id name=item.name)
  button.pure-button.pure-button-primary(type="submit") Create